body { background:#fff url(/img/bg.jpg) repeat-x top;color:#333;font-family:'Trebuchet MS', Helvetica, sans-serif; }
a, a:visited { color:#0664BE;text-decoration:none;outline:0; }
a:hover, a:focus { color:#0664BE;text-decoration:underline; }
.mceEditor{ display:block;padding:0;background:none;	} /* Outline fix for validation errors */
 
h1, h2, h3, .title {
	color:#0664BE;
	font-weight:normal;
	font-family: 'Merienda One', cursive;
	line-height:130%;

}
h1.title, .title1 { margin:24px 0 12px 0;font-size:40px; }
h2.title, .title2 { margin:20px 0 12px 0;font-size:32px; }
h3.title, .title3 { margin:16px 0 12px 0;font-size:24px; }
h4.title, .title4 { margin:16px 0 12px 0;font-size:20px; }

.title.red, .title.red > a { color:#CC1E00; }

.title:first-child, .title.alpha,
h1:first-child,	h1.alpha, 
h2:first-child, h2.alpha,
h3:first-child, h3.alpha { margin-top:0; }


.input.text input,.input.password input,.input textarea,.input select, .mceEditor {
	border: solid 1px #B4C2C2;
	outline: 0;
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: #FFF url(/img/inputBg.jpg) left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
}

.input.text input:hover,.input.password input:hover,.input textarea:hover,.input select:hover,
.input.text input:focus,.input.password input:focus,.input textarea:focus,.input select:focus{ 
	border: solid 1px #B4C2C2;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/****** @Paginator ******/

.paginator {
	text-align:center;
	margin-bottom:15px;
	padding:10px 40px;
	font-weight:bold;
 }

.paginator .current {  }
.paginator .buttons { overflow:auto; }

.paginator .first,
.paginator .prev,
.paginator .next,
.paginator .last {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:38px;
	height:22px;
	background:no-repeat top;
	border:#BBB solid 1px;
}
.paginator .first { background-image:url(/img/first.png); }
.paginator .next { background-image:url(/img/next.png); }
.paginator .prev { background-image:url(/img/prev.png); }
.paginator .last { background-image:url(/img/last.png); }

.paginator .first.disabled,
.paginator .next.disabled,
.paginator .prev.disabled,
.paginator .last.disabled,
.paginator .first:hover,
.paginator .next:hover,
.paginator .prev:hover,
.paginator .last:hover { background-position:bottom; }

.paginator .numbers {
	line-height:24px;
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 8px;
}
.paginator .numbers span { color:#CCC; }

/****** @Layout ******/

#nofooter{
	background:#fff /*url(/img/content.jpg) no-repeat top center*/;
	width:960px;
	margin:0 auto;
	padding:0 30px;
	min-height:100%;
} * html #nofooter{ height:100%; }

#header {
	overflow:hidden;
	position:relative;
	z-index:1;/*IE7*/
}

#logo {
	position:relative;
	float:left;
	width:229px;
	height:72px;
	margin:25px 0 0 0;
	background:url(/img/logo.png);
} #logo a { position:absolute;display:block;width:100%;height:100%;top:0;left:0;text-indent:-99999px; }

.outside {
	position:absolute;
	width:100%;
	height:0px;
	top:0;
	left:0;
	z-index:-1;
}
.headerInfo { float:right;width:250px;height:50px;margin:15px 25px 0 0; }
.language {
	float:right;
	width:112px;
	height:22px;
	margin:10px 0 12px;
	line-height:22px;
	background:url(/img/language.png) no-repeat center top;
}
.language a {
	display:block;
	color:#7E7E7E;
	background:transparent no-repeat 7px center;
	padding:0 0 0 36px;
}
.language.ita a { background-image: url(/img/esp.gif); }
.language.esp a { background-image: url(/img/ita.gif); }

.social { width: 165px;background: url(/img/social.png) no-repeat center center;float:right;clear:right; }
.social a {
	float:left;
	display:block;
	width:44px;
	line-height:36px;
	text-indent:100%;
	white-space: nowrap;  
	overflow: hidden;
}
.social a.facebook { width:33px; } 

#menu {
	text-align:right;
	margin:0 0 20px;
	padding:0;
}
#menu li { margin:0 0 0 0px;overflow:hidden; }
#menu li:hover { overflow: visible; }
#menu li, #menu li a { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }
#menu li a {
	height:22px;
	line-height:22px;
	margin:0;
	padding:0 10px;
	background:transparent;
	color:#333366;
	text-decoration:none;
	font-size:14px;
	text-transform:uppercase;
}
#menu li a:hover, #menu li.mSelected a { background:#D61E00;color:#fff; }
.submenu {
	position:absolute;
	display:block;
	top:100%;
	left:0;
	width:100%;/*IE7*/
}
#menu .submenu li {
	margin:0;
	width:100%; /*IE7*/
}
#menu .submenu li a {
	display:block;
	line-height:18px;
	font-size:16px;
	border-top:#fff solid 1px;
	background-color:#242424;
	color:#fff;
	padding:6px 10px;
	margin:0;
	text-align:center;
	text-decoration:none;

	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
#menu .submenu li a:hover { background-color:#666;color:#fff; }
#menu .submenu li:first-child a { border-top:0; }

#body {
	overflow:hidden;
	padding:0 0 20px 0;
	z-index:0;/*IE7*/
}

#cleaner { clear:both;width:100%;height:80px; } 
.footer {
	position:relative;
	clear:both;
	height:80px;
	margin:-80px auto 0 auto;
	color:#333;
	text-align:left;
}
	.footer .center { position:relative;margin:0 auto;width:960px;height:80px; }
	.footer .contacto {
		background:#EBEFEF;
		-moz-border-radius:12px;
		-khtml-border-radius:12px;
		-webkit-border-radius:12px;
		border-radius:12px;
		margin-bottom:16px;
	}
	.footer .social { padding:21px 0;margin:0 36px 0 0; }
	.footer .contacto .title {
		float:left;
		width:112px;
		background:#0658AA;
		color:#fff;
		font-size:24px;
		padding:8px 24px;
		margin:0;
	}

.footer .contacto .column { width:175px;padding:18px 0 18px 48px;background:transparent no-repeat left center;line-height:18px; }
	.footer .contacto .column p { margin:0 0 3px; }

.footer .contacto .column.email { background-image: url(/img/ico_email.png); }
	.footer .contacto .column.email a { color:#333;text-decoration:none; }
	.footer .contacto .column.email a:hover { text-decoration:underline; }

.footer .contacto .column.phone { background-image: url(/img/ico_phone.png);font-size:15px; }

.footer .lists {}
	.footer .lists .column { width:14%;font-size:11px;margin-left:3%; }
	.footer .lists .column li { margin:0 0 6px; }
	.footer .lists .column:first-child { margin-left:1%; }

		.footer .lists .column .title { font-weight:bold;text-transform:uppercase;margin:12px 0 8px; }
		.footer .lists .column .title3 { font-size:14px; }
		.footer .lists .column .title4 { font-size:12px; }

	.footer .lists ul { margin:0 0 18px; }

#copyright {
	position:relative;
	margin:0 110px 0 25px;
	padding:0;
	text-align:left;
	line-height:80px;
}
#pulsem {
	position:relative;
	float:right;
	width:110px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(/img/pulsem.png) no-repeat center center;
	line-height:80px;
}

/**** @BLOCKS **************/

.content,.sidebar, .pad { overflow:hidden; }

#body > .contentwide { }
	#body > .contentwide > .pad { padding:20px 0; }

#body > .content { float:right;width:750px;margin-left:30px; }
	#body > .content > .pad { padding:0; }

#body > .sidebar {
	background:#EBEFEF;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
	#body > .sidebar > .pad { padding:12px 15px; }

/* #body > .content > .pad { padding:0 0; } */

#body > .content { background:#fff; }
#body > .sidebar { background:#e9e9e9; }

/******** @SIDEBAR ************************************************/

.sidebar .title { color:#CC1E00;line-height:28px;font-size:28px; }
.c_posts .sidebar .title { font-size:22px;line-height:24px;margin-bottom:4px; }
	.sidebar .filtro { color:#CC1E00;display:block;margin-bottom:12px; }

.sidebar ul li {color:#0664BE; }
.sidebar ul li.selected { font-weight:bold;text-decoration:underline; }
.sidebar .convertidor {
	background:transparent url(/img/convertidor.png) no-repeat center center;
	display:block;
	height:42px;
	margin:0 auto;
	padding:12px 58px 0 22px;
	line-height:14px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
}

.banners { padding:10px 0 2px 0; }
.banners .banner { display:block;margin:0 auto 8px auto; }

#support { }
#support h2 { }
#support iframe { display:block;margin:0 auto 10px auto;border:0;width:180px;height:60px; }

/******** @GENERAL ************************************************/
.noresults { font-size:13px;font-style:italic;padding:12px 0;color:#666; }
.showcase { overflow:hidden; }
.imagefoot { background:#e9e9e9;margin:0;padding:3px 6px;font-size:10px;color:#555;line-height:15px; }
.back {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	background:#ddd url(/img/back.png) no-repeat 8px center;
	line-height:32px;
	padding:0 10px 0 26px;
	margin:0 0 8px 0;
	border-radius:6px;
}
.highlight{ background:#ff8; }
.leydatos { padding:0 8px 4px 8px;line-height:12px;text-align:center;color:#777;font-size:10px; }

.bulleted { margin:0 0 20px 0; }
.bulleted li { margin:0 3px 0 16px; }
.bulleted li a {
	display:block;
	/*background:url(/img/bullet.png) no-repeat left 6px;*/
	padding:0 5px 0 20px;
	margin:1px;
	line-height:28px;
}
.bulleted li.selected > a,
.bulleted li a:hover { }
.bulleted li li {  }

.sectionHdr{ font-size:50px;margin:0 0 20px; }

.more { padding:0 10px 0 0;text-align:right; }
.more a {
	line-height:28px;
	background:#0664BE;
	color:#fff;
	font-weight:bold;
	padding:3px 8px;
}

div.submit { text-align:center; }
input[type=submit], .submitBtn {
	background:#0664BE;
	color:#fff;
	text-shadow:2px 2px 2px #02407B;
	box-shadow:5px 5px 5px #ccc;
	margin:20px auto 10px;
	text-transform:uppercase;
	font-weight:normal;
	width:120px;
	height:40px;
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	font-size:18px;
	border:0;
	border-radius:8px;
}
div.captcha input { width:30px !important; }
div.captcha label { padding-bottom:3px !important; }
div.captcha label span { padding-left:3px; }
div.captcha > span { padding-left:12px; }
#captchaCode { vertical-align:text-top;color:#242424;font-weight:bold;font-size:90%; }
ul li { margin:0 0 4px; }

/*** Detail ***/

.date { font-size:10px;color:#999;margin:5px 0 0 0; }
.desc { text-align:justify; }
.desc.subtitulo { color:#0664BE;font-family: 'Merienda One', cursive;font-size:15px; }
.desc strong { color:#0664BE;font-weight:bold; }
.desc p { margin:0 0 10px 0;  }
.comments {
	float:left;
	width:45px;
	background: url(/img/icoComments.gif) no-repeat left center;
	padding:0 0 0 20px;
	color:#666;
	height:28px;
	line-height:28px;
 }

.detail {}
.detail .clear { margin-top:20px; }

.detail .date { font-size:11px; }

/*** @Thumb *************/

.thumb, .thWrap, .thMask { overflow:hidden; }
.thumb { padding:8px 16px 15px 16px; }
.thWrap { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }
.thMask {
	display:block;
	-moz-box-shadow: 4px 4px 4px #CCC;
	-webkit-box-shadow: 4px 4px 4px #CCC;
	box-shadow: 4px 4px 4px #CCC;
}
.thumb .thWrap {
	width:164px;
	height:128px;
}
.thumb .thWrap, .thWrap.float {
	float:left;
	margin:0 20px 4px 0;
}
.thumb .title { margin:0;font-size:18px; }
.thumb .title a {  }
.thumb .date { margin-top:3px; }
.thumb .desc { margin:8px 0 0 0; }

.thumb.v {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	width:180px;
}
.thumb.v .thWrap {
	display:block;
	float:none;
	border:0;
	margin:0 0 8px 0;
	width:auto;
	height:auto;
}

.thumb .thPlayer { padding:25px 12px; }
.thumb.v .title { font-size:13px; }
.thumb.v .date { }
.thumb.v .precio { font-style: 14px;font-weight:bold; }
.thumb.v .desc { font-size:11px; }

.thPlayer { padding:25px; }

/* Comments */

#comments { padding:0 0; }
#comments > .title { font-size:24px; }

#commentForm { margin:0 0 15px 0;overflow:hidden; }
#commentForm label, #commentForm .label { font-size:11px;padding:2px 0;font-weight:bold;color:#999; }
#commentForm .subform { overflow:hidden; }
#commentForm .submit { text-align:right;padding:16px 0; }
#commentForm .submit input[type=submit]{ margin:0 }

.comment_textarea { float:left;width:400px; }
.comment_textarea textarea { height:132px; }
.comment_texts { margin-left:418px;padding-right:10px; }
.comment_count {}

.comment { padding:15px 10px; }
.comment.odd{ background:#f3f3f3;border-top:#e3e3e3 solid 1px;border-bottom:#e3e3e3 solid 1px; }
.comment .title {  }
.comment .date {  }
.comment .desc {  }

.comment_list { border-top:#a4a4a4 solid 1px; }
.comment_count { line-height:40px; }

#crumbs{ font-size:13px;border-bottom:#ccc solid 1px;padding:0 0 5px 0; }
#crumbs a { padding:3px 8px 3px 12px;background:url(/img/crumb.png) no-repeat left center; }
#crumbs a:first-child{ padding:3px 8px;background:none; }

.column { float:left;margin:0 0 0 4%;width:48%; }
.column:first-child { margin-left:0; }

.suitcase {
	background:#EBEFEF url(/img/suitcase.png) no-repeat 16px center;
	padding:16px 8px 16px 50px;
	margin:18px 0;
}

/******** @INICIO ************************************************/

#carousel { margin:0 auto;background:#fff url(/img/spinner.gif) no-repeat center center; }
.cuba_travel > .info .title { float:left;width:80px; }
.cuba_travel > .info .title + p { margin:0 0 0 105px;line-height:42px;color:#4C4C79;font-family:'Trebuchet MS', Helvetica, sans-serif;font-weight:bold;font-size:15px; }


.c_inicio .column { width:48%; }
.c_inicio .thumb.v {
	width:428px;
	margin:0 10px 15px;
}
.thumb.v .wrapper {
	overflow:hidden;
	padding:12px;
	box-shadow: 4px 4px 4px #d3d3d3;
	border:#DDE3E3 solid 1px;
}
.thumb.v .wrapper .clear { font-size:12px; }
.thumb.v.pack .thWrap {
	width:196px;
	height:128px;
	float:left;
	margin:0 20px 4px 0;
}
.thumb.v.pack .share { padding-left:15px; }
.thumb.v.pack h2.title { font-size:22px;margin:0 0 8px 0; }
.thumb.v.pack .ppp {
	font-family: 'Merienda One', cursive;
	overflow:hidden;
	margin:10px 0 0 0;
	background-color:#EBEFEF;
}
.thumb.v.pack .ppp span {
	display:block;
	line-height:38px;
}
.thumb.v.pack .ppp span.num_personas {
	margin:0 92px 0 0;
	line-height:14px;
	font-size:12px;
	color:#0658AA;
	padding:4px 0 0 8px;
	text-align:center;
}
.thumb.v.pack .ppp span.precio {
	float:right;
	width:92px;
	background-color:#0658AA;
	color:#fff;
	text-shadow:2px 2px 2px #032E58;
	text-align:center;
	font-weight:normal;
	font-size:22px;
}
.thumb.v.pack .ppp span.precio.extra {
	line-height:20px;
	padding:6px 0;
}
.thumb.v.pack .ppp span.precio.extra span {
	font-size:11px;
	line-height:14px;
}

.c_inicio .posts {
	border-top:#CCC solid 2px;
	padding-top:15px;
	margin-top:25px;
	overflow:hidden;
}
.posts .thumb.post {
	float:left;
	width:440px;
	padding:8px 20px 16px 20px;
}
.posts .thumb.post .title:first-child { font-size:24px;color:#ADC5C7;margin:0 0 8px; }
.posts .thumb.post .title { font-size:14px; }
.posts .thumb.post .desc { font-size:11px; }

/******** @ABOUT ************************************************/

.c_about .desc, .c_legal .desc { width:480px; }
.c_about .desc.subtitulo {
	color:#CC1E00;
	font-size:22px;
}

/******** @PACKS ************************************************/
.precio {
	font-size:26px;
	color:#0664BE;
	text-shadow:2px 2px 2px #ccc;
	font-family: 'Merienda One', cursive;
}
.c_packs .detail > .clear > .column { width:510px;margin:0; }
.c_packs .detail > .clear > .column:first-child { width:212px;margin:0 28px 0 0; }
.c_packs .detail #carousel { margin:0 0 15px; }

.c_packs .detail > .clear.info { margin:0; }
.c_packs .detail > .clear.info > .column { width:232px; }
.c_packs .detail > .clear.info > .column:first-child { width:490px; }

.c_packs .mapa {
	display:block;
	background:#ddd no-repeat center center;
	height:137px;
	line-height:137px;
	padding:0 18px 0 322px;
	text-align:center;
	margin:0 0 42px 0;
	color: #fff;
	font-family: 'Merienda One', cursive;
	font-size:22px;
	text-decoration:none;
}
.c_packs .det_cuba .mapa { background-image: url(/img/mapa_cuba.jpg); }
.c_packs .det_yucatan .mapa { background-image: url(/img/mapa_yucatan.jpg);padding:0 34px 0 305px; }

.pack_destinations .title {
	font-size:18px;
	margin:0 0 8px;
}

.pack_options { overflow:hidden; } 
.pack_options.unicolumn {
	border:#D5DDDD solid 2px;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding:6px 4px 10px;
} 
.pack_options.unicolumn a.reservar { margin:20px 25px 10px auto; }
.pack_options > .column {
	width:316px;
	margin:0;
	font-size:15px;
	padding:8px 15px;
	border:#D5DDDD solid 2px;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
.pack_options > .column:first-child { margin:0 50px 0 0; }
.pack_options > .column .title { color:#CC1E00;font-size:24px;margin:0 0 10px; }
.pack_options > .column > .clear > p {
	width:30%;
	float:left;
	margin:0 0 0 5%;
	text-align:right;
}
.pack_options > .column > .clear > p:first-child { width:65%;margin:0;text-align:left; }

a.reservar {
	display:block;
	width:169px;
	line-height:40px;
	color:#fff;
	padding:0 0 4px 25px;
	background:url(/img/reservar.png) no-repeat left center;

	font-family:'Trebuchet MS', Helvetica, sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	text-shadow:2px 2px 2px #04488C;
}

.pack_options > .column a.reservar { margin:15px 0 0 auto; }
.pack_options > .column .precio { font-size:34px; }

.pack_options td { padding:0 15px;vertical-align: middle; }
.pack_options td.bottomt { vertical-align: bottom; }
.det_yucatan a.reservar {
	margin:0 0 12px;
}

/**** Reservas ****/

.block {
	margin:20px 0 0 0;
}
.basic_info {
	margin:0 auto;
	width:600px;
}
.c_packs.a_reservar	h2.title {
	font-size:22px;
}
#reservar { font-size:15px;margin:20px 0; }
#reservar .basic_info label, .basic_info .label {
	float:left;
	width:160px;
	text-align:right;
	margin:0 8px 0 0;
}
#reservar .basic_info input { width:220px; }
#reservar span { display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline; }
#reservar span.pad { padding:0 0 0 10px; }

#reservar .big_total.precio {
	font-size:32px;
	text-align:center;
	margin:30px 0 40px;
}
#reservar .big_total.precio.multiple {
	font-size:15px;
	color:#333;
}
#reservar .big_total .precio { font-size:32px; }

.total_label {
	color:#333;
	font-size:20px;
	font-weight:bold;
	vertical-align: middle;
}
.underlined { border-bottom:#666 solid 1px;padding:0 0 10px;margin:0 0 15px; }
#reservar .precio { font-size:18px; }
.datepicker_vista .column { width:auto; }
#reservar .suitcase { background-image: none;padding-left:18px; }
#reservar input[type=submit] {
	font-size:26px;
	width:195px;
	height:55px;
}
.voucher_note { font-size:14px;margin:0 20px; }
.voucher_note > .title { margin:0 0 8px 0;font-weight:bold;font-size:20px; }

.taxi_opcion > div.input.text {
	float:left;
	width: 30%;
	margin:0 0 0 4%;
}
.taxi_opcion > div.input.text:first-child { margin:0; }

.taxi_opcion.yucatan > div.input.text { float:none;width:auto;margin:0; }
.taxi_opcion.yucatan > div.input.text label { display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline;padding:0 15px 0 0; }
.taxi_opcion.yucatan > div.input.text input { width:30px; }
.taxi_opcion.yucatan #ReservationTaxiArribo { width:100px; }

.taxi_opcion.yucatan .datos_hotel > div.input.text { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;margin:0 15px 0 0; }
.taxi_opcion.yucatan #ReservationTaxiNombreHotel { width:190px; }
.taxi_opcion.yucatan #ReservationTaxiDireccionHotel { width:460px; }


.forma_pago { margin:30px auto 20px;width:480px;font-size:20px; }
.forma_pago label { display:inline;padding:0 12px 0 0;font-weight:bold; }

/* Cuba Personalizado */

#reservar #ReservationHab { width:30px; }

.custom_dates table { width:550px;margin:10px 0 0 0;border-top:#666 solid 1px; }
.custom_dates table td { text-align:center;padding:3px 6px;vertical-align: middle; }
.custom_dates table tr td:first-child { width: 220px;text-align:right; }
.custom_dates table td.days { width:40px; }
.custom_dates table td.subtotales { text-align:left; }

/* Cuba Fijo */

.arrival_date { padding:0;text-align:center; }
.arrival_date div.input { display:inline; }
.arrival_date div.input input[type=text]{ width: 90px }
.arrival_date div.input label {
	display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline;
	padding:0 15px 0;
}
.arrival_date div.input span { padding:0 0 0 25px; }
#ReservationRetorno { margin:0 0 0 15px; }

/* Yucatan */

.title.broken { margin-top:0; }
#conceptos_opciones { overflow:hidden;font-size:13px;padding:0 0 0 12px; }
.yuc_opciones {
	width:500px;
	margin:20px auto 0 auto;
}
.yuc_opciones label { padding-left:15px; }
.yuc_opciones label a { padding-left:15px;font-size:12px; }
.yuc_opciones input[type=checkbox] { vertical-align: middle; }


/******** @DESTINATIONS ************************************************/

.c_destinations .detail .column { width:40%; }
.c_destinations .detail .column:first-child { width:56%; }
.column.gallery { }
.column.gallery .title {
	background:url(/img/ico_gallery.png) no-repeat left center;
	padding:0 0 0 40px;
	margin:0 0 8px;
	font-size:22px;
}
.column.gallery .thWrap { margin:3px; }
.column.gallery .thMask {
	width:144px;
	height:90px;
}

/******** @POSTS ************************************************/

.c_posts.a_index .post.thumb {
	border-bottom:#CDD8D8 solid 1px;
	margin-bottom:12px;
	padding-bottom:16px;
}
.c_about .sectionHdr { /*background-image:url(/img/hdrAbout.jpg);*/ }

/******** @ALBUMS ************************************************/

.inlineGallery { margin:20px 0; }
.inlineGallery a {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:0 6px;
	margin:0 3px 15px 3px;
}
.inlineGallery a img {
	box-shadow: 4px 4px 4px #999;
	-moz-box-shadow: 4px 4px 4px #999;
	-webkit-box-shadow: 4px 4px 4px #999;
}

/******** @POSTS ************************************************/

.c_posts .sectionHdr{ /*background-image:url(/img/hdrPosts.jpg);*/ }
.detail .portada {
	overflow:hidden;
	margin:0 20px 8px 20px;
	max-height:500px;
}
.portada.Centro { display:block;margin:0 auto 15px auto;text-align:center; }
.portada.Centro img { display:block;width:100%; }
.portada.Derecha { float:right;margin-right:0; }
.portada.Izquierda { float:left;margin-left:0; }

.share { padding:10px 0;overflow:hidden; }
.share > div { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }

/******** @TESTIMONIALS ************************************************/
.thumb.testimonial {
	padding:8px 20px 15px;
	width:210px;
}
.thumb.testimonial .title {
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	color:#212121;
	font-weight:bold;
	text-align:right;
	font-size:12px;
	margin:8px 0 0 0;
}

/******** @SERVICIOS ************************************************/

.c_services .sectionHdr { /*background-image:url(/img/hdrServices.jpg);*/ }

/******** @PODCASTS ************************************************/

#pPlayer{ margin:30px 0;padding:0 30px; }
.vPlayer{ display:block;margin:20px auto;width:640px;height:360px; }

/******** @FAQS ************************************************/

.c_faqs .sectionHdr{ }
.c_faqs .selector { text-align:center;overflow:hidden;margin:0 0 20px;border-bottom:#0664BE solid 1px; }
.c_faqs .selector a {
	width:25%;
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	font-size:18px;
	font-family: 'Merienda One', cursive;
	padding:6px 0;
}
.c_faqs .selector a.selected {
	color:#fff;
	background-color: #0664BE;
}

div.faq { margin:10px 50px 20px 0; }
.title.pregunta {
	font-size:18px;
	line-height:26px;
	padding-left:0;
	color:#CC1E00;
	font-family:'Trebuchet MS', Helvetica, sans-serif;
}
.desc.respuesta { padding:0;text-align:justify; }

/***** @CONTACTO *******************************************/

.c_contacto .sectionHdr{ /*background-image:url(/img/hdrContacto.jpg);*/ }

.c_contacto .note {  }
.c_contacto .form { float:left;width:320px; }

.c_contacto .form label{ padding:8px 5px;font-weight:bold; }
.c_contacto .form p:first {  }
.c_contacto .form .subform { padding:0; }
.c_contacto .form .input.text input, .input textarea { width:95%; }

.c_contacto .info { margin-left:385px; }
.c_contacto .info .title { font-weight:normal; }

/******** @INVITE ************************************************/

.invite {
	padding:15px 15px 25px 15px;
	background:url(/img/hdrInvite.jpg) no-repeat top;
	color:#333;
	position:relative;
	width:542px;
}
.invite .title { margin-bottom:4px; }
.invite .note { color:#666;margin:0 0 6px 0;background:none;font-size:10px;padding:0; }

.invite .subform { overflow:hidden; }

.invite .inviteCol { float:left;width:262px;margin-right:18px; }
.invite .inviteCol.omega { margin-right:0; }

.invite .inviteLabel { background:#0660A0;padding:6px 12px;margin:0;font-weight:bold;text-align:center;font-size:13px;color:#fff; }

.invite .input.text input{ width:248px; }
.invite .textarea textarea { width:528px;margin:0 auto 15px auto; }
.invite .submit { padding:0; }
.invite .submit input { margin:0 auto; }